@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');

body{
  font-family: 'Comfortaa', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #FFE766;
  color: #483698;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container-body{

  background-color: #FFFFFF;

}
